* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --primary-color: #ffb43b;
  --primary1-color: #5e87eb;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Cabin";
}

/* ===================Common======================== */
a {
  text-decoration: none;
}

.main-page {
  width: 1175px;
  max-width: calc(100% - 75px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  min-width: 166px;
  padding: 0 32px;
  line-height: 56px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  background: #000;
  border-radius: 5px;
}

.desc {
  font-size: 1.6rem;
}
/* ===================Header========================= */
.header {
  background: var(--primary1-color);
  display: flex;
  align-items: center;
  height: 9rem;
  z-index: 2;
}

.header.sticky {
  position: sticky;
  top: -1rem;
}

.header .body {
  display: flex;
  align-items: center;
  padding: auto 0;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  color: #fff;
  font-size: 1.4rem;
  padding: 0 1.6rem;
}

.nav a:hover {
  /* background: #000; */
  color: #100303;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

/* ===================Hero========================= */
.hero {
  background: #f9f9fb;
  margin-top: 5.2rem;
}

.hero .body {
  display: flex;
}

.hero .content-block {
  width: 53%;
}

.hero .heading {
  margin-top: 4.2rem;
  font-size: 4rem;
  font-weight: 600;
  line-height: 5rem;
}
.hero span {
  color: var(--primary1-color);
}

.hero .media-block {
  width: 47%;
}

.content-block .desc {
  margin-top: 2.9rem;
  font-size: 1.6rem;
  line-height: 19.44px;
}

.media-block .img {
  display: block;
  margin-left: auto;
  width: 425px;
  height: 464.91px;
  border-radius: 5px;
}

.hero .gr-team {
  margin-top: 4.5rem;
}

.hero .action {
  display: flex;
  justify-content: space-around;
}

/* .gr-team a {
  display: inline-block;
} */

/* .action a:nth-child(2) {
  margin-left: 82px;
} */
.gr-team .team {
  background: var(--primary-color);
}

.gr-team .team1 {
  background: var(--primary1-color);
}

/* ===================Info========================= */
.info {
  margin-top: 7.5rem;
}

.info .body {
  display: flex;
  column-gap: 11px;
}

.info .box {
  background: #604ce2;
  border-radius: 5px;
  width: 281px;
  height: 299px;
}

.info .icon {
  display: block;
  margin-top: 2.5rem;
  width: 64px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
}

.info .desc {
  color: #f9f9fb;
  text-align: center;
  margin-top: 27px;
  font-size: 1.6rem;
  font-weight: 700;
}

.desc.r1 {
  margin-top: 10px;
  padding: 2.4rem 2.4rem;
  line-height: 1.9rem;
  margin-bottom: 4rem;
  font-weight: normal;
}

/* ===================Service========================= */
.service {
  background: #c6c6c6;
  margin-top: 7.7rem;
}

.service .content-block {
  width: 55%;
}

.service .body {
  display: flex;
}

.service .desc.welcome {
  margin-top: 13.7rem;
}

.service .heading {
  margin-top: 1rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.9rem;
}

.service .desc.lorem {
  width: 100%;
  margin-top: 2.9rem;
  font-size: 1.4rem;
  line-height: 17.01px;
}

.service .noidung {
  margin-top: 4.3rem;
}

.service .nd {
  display: flex;
  margin-bottom: 11px;
  column-gap: 10px;
}

.service .ablum {
  margin: 0;
}

.service .desc.sv {
  margin: 0;
}

.service .img {
  width: 1.6rem;
  height: 16rem;
}

.service .media-block {
  width: 45%;
}

.service .media-block .ablum-2 {
  display: block;
  margin-left: auto;
  width: 408px;
  height: 478.4px;
  border-radius: 5px;
  margin-top: 85px;
  margin-bottom: 70px;
}

.service .content-block span {
  color: var(--primary1-color);
}

/* ===================assistance========================= */
.assistance .heading {
  margin-top: 8.9rem;
  text-align: center;
  font-size: 3rem;
}

/* ===================Assistance-team========================= */
.assistance-team {
  margin-top: 2.5rem;
}

.assistance-team .box-1 {
  display: flex;
  gap: 2.3rem;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}

.assistance-team .box-1 .box {
  background: #ffffff;
  width: 370.78px;
  height: 325.97px;
  align-items: center;
  color: #5f5f5f;
  border-radius: 1rem;
  box-shadow: 0 1px 3px 0 #0000004d;
  box-shadow: 0 4px 8px 3px #00000026;
}

.assistance-team .album {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 92.45px;
  height: 51.84px;
}

.assistance-team .album.bg {
  background: #e6e6e6;
  margin-top: 3.9rem;
  border-radius: 50%;
  width: 74.73px;
  height: 77px;
}

.assistance-team .strong {
  margin-top: 1.8rem;
  font-size: 1.6rem;
  font-weight: 700;
}

.assistance-team .desc {
  margin: 22px 42px 0;
}

.assistance-team .lk {
  display: block;
  color: var(--primary1-color);
  margin-top: 4.3rem;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.assistance-team .lk:hover {
  color: #000;
}

/* .assistance-team .box-2 {
  display: flex;
  margin-top: 3rem;
  column-gap: 2.3rem;
  text-align: center;
} */

/* =============================Activity=================================*/

.activity {
  background-image: url("../img/hinh.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 7.8rem;
  height: 30rem;
}

.activity .body {
  display: flex;
}

.activity .desc {
  color: #c6c6c6;
  font-size: 1.6rem;
  font-weight: 500;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  column-gap: 24px;
  margin-top: 12rem;
}

.activity strong {
  font-size: 36.88px;
  font-weight: 700;
  text-align: center;
}

/*===============================Client=================================*/

.client .heading {
  margin-top: 8.9rem;
  text-align: center;
  font-size: 3rem;
}

/*===============================Client-TEAM=================================*/
.client-team {
  margin-top: 25px;
}

.client-team .item__1 {
  display: flex;
  gap: 1.8rem;
  flex-wrap: wrap;
  justify-content: center;
}
.client-team .client {
  background: #c8c6c6;
  width: 370.78px;
  height: 302px;
  border-radius: 1rem;
  align-items: center;
}

.client-team .icon {
  display: block;
  padding-top: 58px;
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  column-gap: 141px;
}

.client-team .ha {
  width: 58.54px;
  height: 60px;
  padding: 1rem;
}

.client-team .ha.bl {
  background: #dedede;
  width: 89.77px;
  height: 88px;
  border-radius: 50%;
}

.client-team .desc {
  margin: 20px 28px 0 40px;
}

.client-team .desc__ok {
  margin-top: 28px;
  font-size: 1.4rem;
}

.client-team span {
  color: var(--primary1-color);
  font-weight: bold;
}

/*===============================  footer =================================*/
.footer {
  margin-top: 13.9rem;
  background: #6124dd;
}

.footer .body {
  display: flex;
  padding: 130px 0 60px;
}

.footer .list a {
  display: block;
}

.footer .desc {
  margin: 22px 0 0;
}

.footer .desc.list {
  color: #d0cdcd;
}

.footer .title {
  color: #f9f9fb;
  font-size: 2rem;
  font-weight: 600;
}

.footer .list {
  padding-top: 20px;
  color: #fff;
}

.footer .box {
  margin: 0 50px;
}

.footer .list a {
  padding-top: calc(100% - 95%);
  color: #d0cdcd;
}

.footer .box3 a {
  display: flex;
}

.footer .box3 .them {
  margin-left: 10px;
}
